<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>

    <link rel="stylesheet" href="/static/css/aaa.css">
</head>
<body>
   <div id="id">
        <h2>这是详情页</h2>
        <br>

        {% if bb %}

        <ul>
            <h3>{{ bb }}</h3>
            {% for i in bb.bbb_set.all %}
            <li>{{ i }}
            <a href="{% url 'booktest:deletehero' i.id %}">删除</a>
            <a href="{% url 'booktest:addhero' i.id %}">添加英雄</a>
            </li>
            {% empty %}
            没有bb
            {% endfor %}
        </ul>
        {% else %}
        没有aa
        {% endif %}


        <a href="{% url 'booktest:list' %}">返回列表</a>
   </div>
</body>
</html>